In [2]:
from bs4 import BeautifulSoup
import requests

# answer 1

In [3]:
page= requests.get('https://www.wikipedia.org/')
page

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
url = "https://www.wikipedia.org/"
fileObj = urlopen(url)
html = fileObj.read()
soup = BeautifulSoup(html, 'html.parser')
print("Title : ",soup.title.text)
headerlist = soup.find_all(re.compile('^h[1-6]'))
print("Headers : ")
for header in headerlist:
    print(header.text)

Title :  Wikipedia
Headers :


Wikipedia

The Free Encyclopedia





1 000 000+


articles








100 000+


articles








10 000+


articles








1 000+


articles








100+


articles

# answer 2

In [3]:
#Solution

In [4]:
page= requests.get('https://www.imdb.com/list/ls055386972/')

In [5]:
page

In [6]:
soup=BeautifulSoup(page.content)

In [7]:
name=soup.find('h3',class_="lister-item-header")

In [8]:
name.text

'\n1.\nThe Godfather\n(1972)\n'

In [9]:
name.text.split('\n')[2]

'The Godfather'

In [10]:
name=[]

for n in soup.find_all('h3',class_="lister-item-header"):
    name.append(n.text.split('\n')[2])

In [11]:
name

['The Godfather',
 "Schindler's List",
 '12 Angry Men',
 'La vita è bella',
 'Il buono, il brutto, il cattivo',
 'The Shawshank Redemption',
 'The Pursuit of Happyness',
 'Shichinin no samurai',
 'The Intouchables',
 'Central do Brasil',
 'Requiem for a Dream',
 'A Beautiful Mind',
 "Hachi: A Dog's Tale",
 'Taken',
 'Yeopgijeogin geunyeo',
 'Amores perros',
 'The Shining',
 'Apocalypto',
 'Gladiator',
 'Cast Away',
 'The Dark Knight',
 'The Pianist',
 'Titanic',
 'Bin-jip',
 'Braveheart',
 "It's a Wonderful Life",
 'Bom yeoreum gaeul gyeoul geurigo bom',
 'Alien',
 'Salinui chueok',
 'Vozvrashchenie',
 'Ang-ma-reul bo-at-da',
 'Bacheha-Ye aseman',
 'Jodaeiye Nader az Simin',
 'The Sixth Sense',
 'Nae meorisokui jiwoogae',
 'Okuribito',
 'Wo de fu qin mu qin',
 'Saving Private Ryan',
 'The Bridge on the River Kwai',
 'Ben-Hur',
 'The Exorcist',
 'El secreto de sus ojos',
 'Léon',
 'The Green Mile',
 'Gran Torino',
 'Kill Bill: Vol. 1',
 'Jurassic Park',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'Finding Nemo']

In [12]:
#rating

In [13]:
ratings=soup.find('div',class_="ipl-rating-star small")

In [14]:
ratings.text

'\n\n\n\n\n\n\n\n9.2\n'

In [15]:
ratings.text.split('\n')[8]

'9.2'

In [16]:
rating=[]

for r in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(r.text.split('\n')[8])

In [17]:
rating

['9.2',
 '9',
 '9',
 '8.6',
 '8.8',
 '9.3',
 '8',
 '8.6',
 '8.5',
 '8',
 '8.3',
 '8.2',
 '8.1',
 '7.8',
 '8',
 '8.1',
 '8.4',
 '7.8',
 '8.5',
 '7.8',
 '9',
 '8.5',
 '7.9',
 '7.9',
 '8.4',
 '8.6',
 '8',
 '8.5',
 '8.1',
 '7.9',
 '7.8',
 '8.2',
 '8.3',
 '8.2',
 '8.1',
 '8',
 '7.8',
 '8.6',
 '8.2',
 '8.1',
 '8.1',
 '8.2',
 '8.5',
 '8.6',
 '8.1',
 '8.2',
 '8.2',
 '8.6',
 '8.5',
 '8.2']

In [18]:
#year of release

In [19]:
release=soup.find('span',class_="lister-item-year text-muted unbold")

In [20]:
release.text

'(1972)'

In [21]:
release=[]

for r in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    release.append(r.text)
    
release

['(1972)',
 '(1993)',
 '(1957)',
 '(1997)',
 '(1966)',
 '(1994)',
 '(2006)',
 '(1954)',
 '(2011)',
 '(1998)',
 '(2000)',
 '(2001)',
 '(2009)',
 '(I) (2008)',
 '(2001)',
 '(2000)',
 '(1980)',
 '(2006)',
 '(2000)',
 '(2000)',
 '(2008)',
 '(2002)',
 '(1997)',
 '(2004)',
 '(1995)',
 '(1946)',
 '(2003)',
 '(1979)',
 '(2003)',
 '(2003)',
 '(2010)',
 '(1997)',
 '(2011)',
 '(1999)',
 '(2004)',
 '(2008)',
 '(1999)',
 '(1998)',
 '(1957)',
 '(1959)',
 '(1973)',
 '(2009)',
 '(1994)',
 '(1999)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1991)',
 '(1985)',
 '(2003)']

In [22]:
import pandas as pd

In [23]:
d=pd.DataFrame({'Name':name,'Ratings':rating,'Release':release})

In [24]:
d

                                    Name Ratings     Release
0                          The Godfather     9.2      (1972)
1                       Schindler's List       9      (1993)
2                           12 Angry Men       9      (1957)
3                        La vita è bella     8.6      (1997)
4        Il buono, il brutto, il cattivo     8.8      (1966)
5               The Shawshank Redemption     9.3      (1994)
6               The Pursuit of Happyness       8      (2006)
7                   Shichinin no samurai     8.6      (1954)
8                       The Intouchables     8.5      (2011)
9                      Central do Brasil       8      (1998)
10                   Requiem for a Dream     8.3      (2000)
11                      A Beautiful Mind     8.2      (2001)
12                   Hachi: A Dog's Tale     8.1      (2009)
13                                 Taken     7.8  (I) (2008)
14                  Yeopgijeogin geunyeo       8      (2001)
15                         Amores perros     8.1      (2000)
16                           The Shining     8.4      (1980)
17                            Apocalypto     7.8      (2006)
18                             Gladiator     8.5      (2000)
19                             Cast Away     7.8      (2000)
20                       The Dark Knight       9      (2008)
21                           The Pianist     8.5      (2002)
22                               Titanic     7.9      (1997)
23                               Bin-jip     7.9      (2004)
24                            Braveheart     8.4      (1995)
25                 It's a Wonderful Life     8.6      (1946)
26  Bom yeoreum gaeul gyeoul geurigo bom       8      (2003)
27                                 Alien     8.5      (1979)
28                        Salinui chueok     8.1      (2003)
29                        Vozvrashchenie     7.9      (2003)
30                  Ang-ma-reul bo-at-da     7.8      (2010)
31                     Bacheha-Ye aseman     8.2      (1997)
32               Jodaeiye Nader az Simin     8.3      (2011)
33                       The Sixth Sense     8.2      (1999)
34               Nae meorisokui jiwoogae     8.1      (2004)
35                             Okuribito       8      (2008)
36                   Wo de fu qin mu qin     7.8      (1999)
37                   Saving Private Ryan     8.6      (1998)
38          The Bridge on the River Kwai     8.2      (1957)
39                               Ben-Hur     8.1      (1959)
40                          The Exorcist     8.1      (1973)
41                El secreto de sus ojos     8.2      (2009)
42                                  Léon     8.5      (1994)
43                        The Green Mile     8.6      (1999)
44                           Gran Torino     8.1      (2008)
45                     Kill Bill: Vol. 1     8.2      (2003)
46                         Jurassic Park     8.2      (1993)
47            Terminator 2: Judgment Day     8.6      (1991)
48                    Back to the Future     8.5      (1985)
49                          Finding Nemo     8.2      (2003)

# answer 3

In [25]:
#solution

In [26]:
from bs4 import BeautifulSoup
import requests

In [27]:
page= requests.get('https://www.imdb.com/list/ls058711268/')

In [28]:
page

In [29]:
soup=BeautifulSoup(page.content)

In [30]:
indian_name=soup.find('h3',class_="lister-item-header")

In [31]:
indian_name.text

'\n1.\n3 Idiots\n(2009)\n'

In [32]:
indian_name.text.split('\n')[2]

'3 Idiots'

In [33]:
names=[]

for p in soup.find_all('h3',class_="lister-item-header"):
    names.append(p.text.split('\n')[2])

In [34]:
names

['3 Idiots',
 'Drishyam',
 'Mohabbatein',
 'Zindagi Na Milegi Dobara',
 'Dil Chahta Hai',
 'Bhaag Milkha Bhaag',
 'Rang De Basanti',
 'Chak De! India',
 'Lagaan: Once Upon a Time in India',
 'A Wednesday',
 'Jab We Met',
 'Yeh Jawaani Hai Deewani',
 'OMG: Oh My God!',
 'Raanjhanaa',
 'Rockstar',
 'Kal Ho Naa Ho',
 'Vicky Donor',
 'Jaane Tu... Ya Jaane Na',
 'Taare Zameen Par',
 'Udaan',
 'Kabhi Khushi Kabhie Gham...',
 'Highway',
 'Swades: We, the People',
 'Munna Bhai M.B.B.S.',
 'Lage Raho Munna Bhai',
 'Golmaal: Fun Unlimited',
 'Delhi Belly',
 'Dhoom',
 'Raajneeti',
 'Gangs of Wasseypur',
 'Style',
 'Special Chabbis',
 'Dostana',
 'Namastey London',
 'Fashion',
 'My Name Is Khan',
 'Wake Up Sid',
 'Rocket Singh: Salesman of the Year',
 '2 States',
 'Jodhaa Akbar',
 'ABCD (Any Body Can Dance)',
 'Kaho Naa... Pyaar Hai']

In [35]:
#rating

In [36]:
rating=soup.find('div',class_="ipl-rating-star small")

In [37]:
rating.text

'\n\n\n\n\n\n\n\n8.4\n'

In [38]:
rating.text.split('\n')[8]

'8.4'

In [39]:
rating=[]

for rr in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(rr.text.split('\n')[8])

In [40]:
rating

['8.4',
 '8.2',
 '7',
 '8.2',
 '8.1',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '7.9',
 '7.2',
 '8.1',
 '7.6',
 '7.7',
 '7.9',
 '7.8',
 '7.4',
 '8.3',
 '8.1',
 '7.4',
 '7.6',
 '8.2',
 '8.1',
 '8',
 '7.4',
 '7.5',
 '6.6',
 '7.1',
 '8.2',
 '6.7',
 '8',
 '6.5',
 '7.1',
 '6.9',
 '7.9',
 '7.6',
 '7.5',
 '6.9',
 '7.5',
 '6.3',
 '6.9']

In [41]:
#year of release

In [42]:
year=soup.find('span',class_="lister-item-year text-muted unbold")

In [43]:
year.text

'(2009)'

In [44]:
year=[]

for y in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(y.text)

In [45]:
year

['(2009)',
 '(2015)',
 '(2000)',
 '(2011)',
 '(2001)',
 '(2013)',
 '(2006)',
 '(2007)',
 '(2001)',
 '(2008)',
 '(2007)',
 '(2013)',
 '(2012)',
 '(2013)',
 '(2011)',
 '(2003)',
 '(2012)',
 '(2008)',
 '(2007)',
 '(2010)',
 '(2001)',
 '(I) (2014)',
 '(2004)',
 '(2003)',
 '(2006)',
 '(2006)',
 '(2011)',
 '(2004)',
 '(2010)',
 '(2012)',
 '(2001)',
 '(2013)',
 '(2008)',
 '(2007)',
 '(2008)',
 '(2010)',
 '(2009)',
 '(2009)',
 '(2014)',
 '(2008)',
 '(2013)',
 '(2000)']

In [46]:
df=pd.DataFrame({'Name':names,'Ratings':rating,'Releasing_year':year})

In [47]:
df

                                  Name Ratings Releasing_year
0                             3 Idiots     8.4         (2009)
1                             Drishyam     8.2         (2015)
2                          Mohabbatein       7         (2000)
3             Zindagi Na Milegi Dobara     8.2         (2011)
4                       Dil Chahta Hai     8.1         (2001)
5                   Bhaag Milkha Bhaag     8.2         (2013)
6                      Rang De Basanti     8.1         (2006)
7                       Chak De! India     8.1         (2007)
8    Lagaan: Once Upon a Time in India     8.1         (2001)
9                          A Wednesday     8.1         (2008)
10                          Jab We Met     7.9         (2007)
11             Yeh Jawaani Hai Deewani     7.2         (2013)
12                     OMG: Oh My God!     8.1         (2012)
13                          Raanjhanaa     7.6         (2013)
14                            Rockstar     7.7         (2011)
15                       Kal Ho Naa Ho     7.9         (2003)
16                         Vicky Donor     7.8         (2012)
17             Jaane Tu... Ya Jaane Na     7.4         (2008)
18                    Taare Zameen Par     8.3         (2007)
19                               Udaan     8.1         (2010)
20         Kabhi Khushi Kabhie Gham...     7.4         (2001)
21                             Highway     7.6     (I) (2014)
22              Swades: We, the People     8.2         (2004)
23                 Munna Bhai M.B.B.S.     8.1         (2003)
24                Lage Raho Munna Bhai       8         (2006)
25              Golmaal: Fun Unlimited     7.4         (2006)
26                         Delhi Belly     7.5         (2011)
27                               Dhoom     6.6         (2004)
28                           Raajneeti     7.1         (2010)
29                  Gangs of Wasseypur     8.2         (2012)
30                               Style     6.7         (2001)
31                     Special Chabbis       8         (2013)
32                             Dostana     6.5         (2008)
33                     Namastey London     7.1         (2007)
34                             Fashion     6.9         (2008)
35                     My Name Is Khan     7.9         (2010)
36                         Wake Up Sid     7.6         (2009)
37  Rocket Singh: Salesman of the Year     7.5         (2009)
38                            2 States     6.9         (2014)
39                        Jodhaa Akbar     7.5         (2008)
40           ABCD (Any Body Can Dance)     6.3         (2013)
41               Kaho Naa... Pyaar Hai     6.9         (2000)

# Answer 4

In [48]:
#solution

In [49]:
from bs4 import BeautifulSoup
import requests

In [50]:
#president names

In [51]:
president=requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [52]:
soup=BeautifulSoup(president.content)

In [53]:
pname=soup.find('div',class_="presidentListing")

In [54]:
pname

<div class="presidentListing">
<h3>Shri Ram Nath Kovind (birth - 1945)</h3>
<p><span class="terms">Term of Office:</span> 25 July, 2017 to 25 July, 2022 </p>
<p><a href="https://ramnathkovind.nic.in" target="_blank">https://ramnathkovind.nic.in</a></p>
</div>

In [55]:
pname.text

'\nShri Ram Nath Kovind (birth - 1945)\nTerm of Office: 25 July, 2017 to 25 July, 2022 \nhttps://ramnathkovind.nic.in\n'

In [56]:
pname.text.split('\n')[1]

'Shri Ram Nath Kovind (birth - 1945)'

In [57]:
presidents=[]

for p in soup.find_all('div',class_="presidentListing"):
    presidents.append(p.text.split('\n')[1])

In [58]:
presidents

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [59]:
#term of office

In [60]:
term=soup.find('div',class_="presidentListing")

In [61]:
term.text.split('\n')

['',
 'Shri Ram Nath Kovind (birth - 1945)',
 'Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'https://ramnathkovind.nic.in',
 '']

In [62]:
term.text.split('\n')[2]

'Term of Office: 25 July, 2017 to 25 July, 2022 '

In [63]:
terms=[]

for t in soup.find_all('div',class_="presidentListing"):
    terms.append(t.text.split('\n')[2])

In [64]:
terms

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962']

In [65]:
import pandas as pd

In [66]:
data=pd.DataFrame({'President':presidents,'Term of office':terms})

In [67]:
data

,President,Term of office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# Answer 5

In [68]:
#solution

# A

In [69]:
teams=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [70]:
teams

In [71]:
soup=BeautifulSoup(teams.content)

In [72]:
team=soup.find('span',class_="u-hide-phablet")

In [73]:
team.text

'Australia'

In [74]:
teams=[]

for t in soup.find_all('span',class_="u-hide-phablet"):
    teams.append(t.text)

In [75]:
teams

['Australia',
 'India',
 'New Zealand',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan',
 'Ireland',
 'Scotland',
 'Zimbabwe',
 'Netherlands',
 'Nepal',
 'Oman',
 'Namibia',
 'United States',
 'UAE',
 'Papua New Guinea']

In [76]:
match=soup.find('td',class_="rankings-block__banner--matches")

In [77]:
mp=match.text

In [78]:
[mp]

['35']

In [79]:
matchs=soup.find('tr',class_="table-body")

In [80]:
matchs.text.split('\n')[7]

'47'

In [81]:
matches=[]

for m in soup.find_all('tr',class_="table-body"):
    matches.append(m.text.split('\n')[7])

In [82]:
matches

['47',
 '30',
 '36',
 '25',
 '29',
 '38',
 '35',
 '43',
 '20',
 '27',
 '35',
 '31',
 '24',
 '40',
 '30',
 '33',
 '32',
 '36',
 '39']

In [83]:
mm=[mp]+matches

In [84]:
mm

['35',
 '47',
 '30',
 '36',
 '25',
 '29',
 '38',
 '35',
 '43',
 '20',
 '27',
 '35',
 '31',
 '24',
 '40',
 '30',
 '33',
 '32',
 '36',
 '39']

In [85]:
point=soup.find('td',class_="rankings-block__banner--points")

In [86]:
point.text

'3,965'

In [87]:
pp=point.text

In [88]:
pts=soup.find('tr',class_="table-body")

In [89]:
pts.text.split('\n')[8]

'5,294'

In [90]:
points=[]
for p in soup.find_all('tr',class_="table-body"):
    points.append(p.text.split('\n')[8])

In [91]:
points

['5,294',
 '3,367',
 '3,988',
 '2,649',
 '2,919',
 '3,625',
 '3,037',
 '3,105',
 '1,419',
 '1,384',
 '1,567',
 '1,351',
 '749',
 '1,238',
 '919',
 '935',
 '901',
 '739',
 '203']

In [92]:
points=[pp]+points

In [93]:
points

['3,965',
 '5,294',
 '3,367',
 '3,988',
 '2,649',
 '2,919',
 '3,625',
 '3,037',
 '3,105',
 '1,419',
 '1,384',
 '1,567',
 '1,351',
 '749',
 '1,238',
 '919',
 '935',
 '901',
 '739',
 '203']

In [94]:
rating=soup.find('td',class_="rankings-block__banner--rating u-text-right")

In [95]:
rating.text.split('\n')[1]

'                            113'

In [96]:
rr=rating.text.split('\n')[1]

In [97]:
ratings=soup.find('td',class_="table-body__cell u-text-right rating")

In [98]:
ratings.text

'113'

In [99]:
ratings=[]
for r in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(r.text)

In [100]:
ratings

['113',
 '112',
 '111',
 '106',
 '101',
 '95',
 '87',
 '72',
 '71',
 '51',
 '45',
 '44',
 '31',
 '31',
 '31',
 '28',
 '28',
 '21',
 '5']

In [101]:
ratings=[rr]+ratings

In [102]:
ratings

['                            113',
 '113',
 '112',
 '111',
 '106',
 '101',
 '95',
 '87',
 '72',
 '71',
 '51',
 '45',
 '44',
 '31',
 '31',
 '31',
 '28',
 '28',
 '21',
 '5']

In [103]:
import pandas as pd

In [104]:
data=pd.DataFrame({'Teams':teams,'Matches':mm,'Points':points,'Ratings':ratings})

In [105]:
data

               Teams Matches Points                          Ratings
0          Australia      35  3,965                              113
1              India      47  5,294                              113
2        New Zealand      30  3,367                              112
3            England      36  3,988                              111
4           Pakistan      25  2,649                              106
5       South Africa      29  2,919                              101
6         Bangladesh      38  3,625                               95
7          Sri Lanka      35  3,037                               87
8        West Indies      43  3,105                               72
9        Afghanistan      20  1,419                               71
10           Ireland      27  1,384                               51
11          Scotland      35  1,567                               45
12          Zimbabwe      31  1,351                               44
13       Netherlands      24    749                               31
14             Nepal      40  1,238                               31
15              Oman      30    919                               31
16           Namibia      33    935                               28
17     United States      32    901                               28
18               UAE      36    739                               21
19  Papua New Guinea      39    203                                5

In [106]:
data.head(10)

          Teams Matches Points                          Ratings
0     Australia      35  3,965                              113
1         India      47  5,294                              113
2   New Zealand      30  3,367                              112
3       England      36  3,988                              111
4      Pakistan      25  2,649                              106
5  South Africa      29  2,919                              101
6    Bangladesh      38  3,625                               95
7     Sri Lanka      35  3,037                               87
8   West Indies      43  3,105                               72
9   Afghanistan      20  1,419                               71

In [107]:
teams=data.head(10)

In [108]:
teams

          Teams Matches Points                          Ratings
0     Australia      35  3,965                              113
1         India      47  5,294                              113
2   New Zealand      30  3,367                              112
3       England      36  3,988                              111
4      Pakistan      25  2,649                              106
5  South Africa      29  2,919                              101
6    Bangladesh      38  3,625                               95
7     Sri Lanka      35  3,037                               87
8   West Indies      43  3,105                               72
9   Afghanistan      20  1,419                               71

# Answer 5 (B)

In [109]:
players=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [110]:
players

In [111]:
soup=BeautifulSoup(players.content)

In [112]:
p=soup.find('div',class_="rankings-block__banner--name-large")

In [113]:
p.text

'Babar Azam'

In [114]:
pp=p.text

In [115]:
pp

'Babar Azam'

In [116]:
player= soup.find('td',class_="table-body__cell rankings-table__name name")

In [117]:
player.text.split('\n')[1]

'Rassie van der Dussen'

In [118]:
players=[]
for p in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    players.append(p.text.split('\n')[1])

In [119]:
players

['Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman',
 'Shai Hope',
 'Kane Williamson',
 'Jason Roy',
 'Jonny Bairstow',
 'Jos Buttler',
 'Harry Tector',
 'Mushfiqur Rahim',
 'Paul Stirling',
 'David Miller',
 'Tamim Iqbal',
 'Alex Carey',
 'Joe Root',
 'Rahmat Shah',
 'Shreyas Iyer',
 'Nicholas Pooran',
 'Shakib Al Hasan',
 'Travis Head',
 'Glenn Maxwell',
 'Heinrich Klaasen',
 'Tom Latham',
 'Sikandar Raza',
 'Temba Bavuma',
 'Martin Guptill',
 'Litton Das',
 'Shikhar Dhawan',
 'Gerhard Erasmus',
 'Dawid Malan',
 'Lokesh Rahul',
 'George Munsey',
 'Mahmudullah',
 'Devon Conway',
 'Najibullah Zadran',
 'Kariyawasa Asalanka',
 'Andrew Balbirnie',
 'Kyle Coetzer',
 'Ibrahim Zadran',
 'Haris Sohail',
 'Monank Patel',
 'Aaron Jones',
 'Kusal Mendis',
 'Hashmatullah Shaidi',
 'Mitchell Marsh',
 'Assad Vala',
 'Aiden Markram',
 'Sean Williams',
 'Ishan Kishan',
 'Rahmanullah Gurbaz',
 'R.K. Paudel',
 'Scott Edwards',
 'Janneman Malan',
 'Zeeshan Maqsood',
 'Jatinder Singh',
 'Avishka Fernando',
 'Mohammad Rizwan',
 'Vriitya Aravind',
 'Mohammad Nabi',
 'Aasif Sheikh',
 'Marnus Labuschagne',
 'Tom Cooper',
 'Mitchell Santner',
 'Henry Nicholls',
 'Richard Berrington',
 'Dasun Shanaka',
 'Hardik Pandya',
 'Angelo Mathews',
 'Danushka Gunathilaka',
 'Michael Leask',
 "Max O'Dowd",
 'Steven Taylor',
 'Dhananjaya de Silva',
 'Finn Allen',
 'Marcus Stoinis',
 'Craig Ervine',
 'Gajanand Singh',
 'Michael Bracewell',
 'Muhammad Waseem',
 'Philip Salt',
 'Pathum Nissanka',
 'Shamarh Brooks',
 'Niroshan Dickwella',
 'Moeen Ali',
 'Rashid Khan',
 'Jimmy Neesham',
 'Michael van Lingen',
 'Kyle Mayers',
 'Tony Ura',
 'Matthew Cross',
 'Chundangapoyil Rizwan',
 'Mehedi Hasan',
 'Daryl Mitchell']

In [120]:
playerss=[pp]+players

In [121]:
playerss

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman',
 'Shai Hope',
 'Kane Williamson',
 'Jason Roy',
 'Jonny Bairstow',
 'Jos Buttler',
 'Harry Tector',
 'Mushfiqur Rahim',
 'Paul Stirling',
 'David Miller',
 'Tamim Iqbal',
 'Alex Carey',
 'Joe Root',
 'Rahmat Shah',
 'Shreyas Iyer',
 'Nicholas Pooran',
 'Shakib Al Hasan',
 'Travis Head',
 'Glenn Maxwell',
 'Heinrich Klaasen',
 'Tom Latham',
 'Sikandar Raza',
 'Temba Bavuma',
 'Martin Guptill',
 'Litton Das',
 'Shikhar Dhawan',
 'Gerhard Erasmus',
 'Dawid Malan',
 'Lokesh Rahul',
 'George Munsey',
 'Mahmudullah',
 'Devon Conway',
 'Najibullah Zadran',
 'Kariyawasa Asalanka',
 'Andrew Balbirnie',
 'Kyle Coetzer',
 'Ibrahim Zadran',
 'Haris Sohail',
 'Monank Patel',
 'Aaron Jones',
 'Kusal Mendis',
 'Hashmatullah Shaidi',
 'Mitchell Marsh',
 'Assad Vala',
 'Aiden Markram',
 'Sean Williams',
 'Ishan Kishan',
 'Rahmanullah Gurbaz',
 'R.K. Paudel',
 'Scott Edwards',
 'Janneman Malan',
 'Zeeshan Maqsood',
 'Jatinder Singh',
 'Avishka Fernando',
 'Mohammad Rizwan',
 'Vriitya Aravind',
 'Mohammad Nabi',
 'Aasif Sheikh',
 'Marnus Labuschagne',
 'Tom Cooper',
 'Mitchell Santner',
 'Henry Nicholls',
 'Richard Berrington',
 'Dasun Shanaka',
 'Hardik Pandya',
 'Angelo Mathews',
 'Danushka Gunathilaka',
 'Michael Leask',
 "Max O'Dowd",
 'Steven Taylor',
 'Dhananjaya de Silva',
 'Finn Allen',
 'Marcus Stoinis',
 'Craig Ervine',
 'Gajanand Singh',
 'Michael Bracewell',
 'Muhammad Waseem',
 'Philip Salt',
 'Pathum Nissanka',
 'Shamarh Brooks',
 'Niroshan Dickwella',
 'Moeen Ali',
 'Rashid Khan',
 'Jimmy Neesham',
 'Michael van Lingen',
 'Kyle Mayers',
 'Tony Ura',
 'Matthew Cross',
 'Chundangapoyil Rizwan',
 'Mehedi Hasan',
 'Daryl Mitchell']

In [122]:
t=soup.find('div',class_="rankings-block__banner--nationality")

In [123]:
t.text.split('\n')[2]

'PAK'

In [124]:
tt=t.text.split('\n')[2]

In [125]:
tt

'PAK'

In [126]:
team=soup.find('span',class_="table-body__logo-text")

In [127]:
team.text

'SA'

In [128]:
teams=[]

for t in soup.find_all('span',class_="table-body__logo-text"):
    teams.append(t.text)

In [129]:
teams

['SA',
 'PAK',
 'SA',
 'IND',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'PAK',
 'WI',
 'NZ',
 'ENG',
 'ENG',
 'ENG',
 'IRE',
 'BAN',
 'IRE',
 'SA',
 'BAN',
 'AUS',
 'ENG',
 'AFG',
 'IND',
 'WI',
 'BAN',
 'AUS',
 'AUS',
 'SA',
 'NZ',
 'ZIM',
 'SA',
 'NZ',
 'BAN',
 'IND',
 'NAM',
 'ENG',
 'IND',
 'SCO',
 'BAN',
 'NZ',
 'AFG',
 'SL',
 'IRE',
 'SCO',
 'AFG',
 'PAK',
 'USA',
 'USA',
 'SL',
 'AFG',
 'AUS',
 'PNG',
 'SA',
 'ZIM',
 'IND',
 'AFG',
 'NEP',
 'NED',
 'SA',
 'OMA',
 'OMA',
 'SL',
 'PAK',
 'UAE',
 'AFG',
 'NEP',
 'AUS',
 'NED',
 'NZ',
 'NZ',
 'SCO',
 'SL',
 'IND',
 'SL',
 'SL',
 'SCO',
 'NED',
 'USA',
 'SL',
 'NZ',
 'AUS',
 'ZIM',
 'USA',
 'NZ',
 'UAE',
 'ENG',
 'SL',
 'WI',
 'SL',
 'ENG',
 'AFG',
 'NZ',
 'NAM',
 'WI',
 'PNG',
 'SCO',
 'UAE',
 'BAN',
 'NZ']

In [130]:
tteams=[tt]+teams

In [131]:
tteams

['PAK',
 'SA',
 'PAK',
 'SA',
 'IND',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'PAK',
 'WI',
 'NZ',
 'ENG',
 'ENG',
 'ENG',
 'IRE',
 'BAN',
 'IRE',
 'SA',
 'BAN',
 'AUS',
 'ENG',
 'AFG',
 'IND',
 'WI',
 'BAN',
 'AUS',
 'AUS',
 'SA',
 'NZ',
 'ZIM',
 'SA',
 'NZ',
 'BAN',
 'IND',
 'NAM',
 'ENG',
 'IND',
 'SCO',
 'BAN',
 'NZ',
 'AFG',
 'SL',
 'IRE',
 'SCO',
 'AFG',
 'PAK',
 'USA',
 'USA',
 'SL',
 'AFG',
 'AUS',
 'PNG',
 'SA',
 'ZIM',
 'IND',
 'AFG',
 'NEP',
 'NED',
 'SA',
 'OMA',
 'OMA',
 'SL',
 'PAK',
 'UAE',
 'AFG',
 'NEP',
 'AUS',
 'NED',
 'NZ',
 'NZ',
 'SCO',
 'SL',
 'IND',
 'SL',
 'SL',
 'SCO',
 'NED',
 'USA',
 'SL',
 'NZ',
 'AUS',
 'ZIM',
 'USA',
 'NZ',
 'UAE',
 'ENG',
 'SL',
 'WI',
 'SL',
 'ENG',
 'AFG',
 'NZ',
 'NAM',
 'WI',
 'PNG',
 'SCO',
 'UAE',
 'BAN',
 'NZ']

In [132]:
r=soup.find('div',class_="rankings-block__banner--rating")

In [133]:
r.text

'887'

In [134]:
rating=soup.find('td',class_="table-body__cell rating")

In [135]:
rating.text

'777'

In [136]:
rr=r.text

In [137]:
ratings=[]
for r in soup.find_all('td',class_="table-body__cell rating"):
    ratings.append(r.text)

In [138]:
ratings

['777',
 '740',
 '740',
 '738',
 '726',
 '719',
 '707',
 '702',
 '699',
 '698',
 '693',
 '682',
 '669',
 '658',
 '650',
 '646',
 '640',
 '635',
 '633',
 '631',
 '631',
 '628',
 '624',
 '620',
 '617',
 '616',
 '612',
 '611',
 '605',
 '595',
 '594',
 '591',
 '586',
 '580',
 '572',
 '572',
 '571',
 '569',
 '568',
 '560',
 '555',
 '548',
 '543',
 '543',
 '543',
 '542',
 '539',
 '530',
 '526',
 '523',
 '523',
 '519',
 '515',
 '514',
 '511',
 '511',
 '507',
 '503',
 '500',
 '499',
 '496',
 '495',
 '495',
 '493',
 '492',
 '490',
 '490',
 '486',
 '483',
 '482',
 '482',
 '480',
 '479',
 '477',
 '475',
 '469',
 '465',
 '464',
 '463',
 '461',
 '461',
 '453',
 '451',
 '450',
 '449',
 '447',
 '445',
 '438',
 '434',
 '433',
 '426',
 '426',
 '425',
 '425',
 '422',
 '422',
 '419',
 '417',
 '416']

In [139]:
ratings=[rr]+ratings

In [140]:
ratings

['887',
 '777',
 '740',
 '740',
 '738',
 '726',
 '719',
 '707',
 '702',
 '699',
 '698',
 '693',
 '682',
 '669',
 '658',
 '650',
 '646',
 '640',
 '635',
 '633',
 '631',
 '631',
 '628',
 '624',
 '620',
 '617',
 '616',
 '612',
 '611',
 '605',
 '595',
 '594',
 '591',
 '586',
 '580',
 '572',
 '572',
 '571',
 '569',
 '568',
 '560',
 '555',
 '548',
 '543',
 '543',
 '543',
 '542',
 '539',
 '530',
 '526',
 '523',
 '523',
 '519',
 '515',
 '514',
 '511',
 '511',
 '507',
 '503',
 '500',
 '499',
 '496',
 '495',
 '495',
 '493',
 '492',
 '490',
 '490',
 '486',
 '483',
 '482',
 '482',
 '480',
 '479',
 '477',
 '475',
 '469',
 '465',
 '464',
 '463',
 '461',
 '461',
 '453',
 '451',
 '450',
 '449',
 '447',
 '445',
 '438',
 '434',
 '433',
 '426',
 '426',
 '425',
 '425',
 '422',
 '422',
 '419',
 '417',
 '416']

In [141]:
dd=pd.DataFrame({'Player':playerss,'Teams':tteams,'Rating':ratings})

In [142]:
dd

                   Player Teams Rating
0              Babar Azam   PAK    887
1   Rassie van der Dussen    SA    777
2             Imam-ul-Haq   PAK    740
3         Quinton de Kock    SA    740
4            Shubman Gill   IND    738
..                    ...   ...    ...
95               Tony Ura   PNG    422
96          Matthew Cross   SCO    422
97  Chundangapoyil Rizwan   UAE    419
98           Mehedi Hasan   BAN    417
99         Daryl Mitchell    NZ    416

[100 rows x 3 columns]

In [143]:
dd.head(10)

                  Player Teams Rating
0             Babar Azam   PAK    887
1  Rassie van der Dussen    SA    777
2            Imam-ul-Haq   PAK    740
3        Quinton de Kock    SA    740
4           Shubman Gill   IND    738
5           David Warner   AUS    726
6            Virat Kohli   IND    719
7           Rohit Sharma   IND    707
8            Steve Smith   AUS    702
9           Fakhar Zaman   PAK    699

In [144]:
batsmen=dd.head(10)

In [145]:
batsmen

                  Player Teams Rating
0             Babar Azam   PAK    887
1  Rassie van der Dussen    SA    777
2            Imam-ul-Haq   PAK    740
3        Quinton de Kock    SA    740
4           Shubman Gill   IND    738
5           David Warner   AUS    726
6            Virat Kohli   IND    719
7           Rohit Sharma   IND    707
8            Steve Smith   AUS    702
9           Fakhar Zaman   PAK    699

# Answer 5 (C)

In [146]:
b=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [147]:
b

In [148]:
soup=BeautifulSoup(b.content)

In [149]:
bowler=soup.find('div',class_="rankings-block__banner--name-large")

In [150]:
bowler.text

'Josh Hazlewood'

In [151]:
bb=bowler.text

In [152]:
bowler=soup.find('td',class_="table-body__cell rankings-table__name name")

In [153]:
bowler.text

'\nTrent Boult\n'

In [154]:
bowler.text.split('\n')[1]

'Trent Boult'

In [155]:
bowlers=[]

for b in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    bowlers.append(b.text.split('\n')[1])

In [156]:
bowlers

['Trent Boult',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Shakib Al Hasan',
 'Matt Henry',
 'Mohammad Nabi',
 'Alzarri Joseph',
 'Chris Woakes',
 'Mark Watt',
 'Kagiso Rabada',
 'Akeal Hosein',
 'Pat Cummins',
 'Mehedi Hasan',
 'Jofra Archer',
 'Mustafizur Rahman',
 'Andy McBrine',
 'Sandeep Lamichhane',
 'Kuldeep Yadav',
 'Lungi Ngidi',
 'Bernard Scholtz',
 'Jasprit Bumrah',
 'Saurabh Netravalkar',
 'Wanindu Hasaranga',
 'Mohammad Nawaz',
 'Adil Rashid',
 'Mitchell Santner',
 'Mohammad Shami',
 'Bilal Khan',
 'Keshav Maharaj',
 'Mark Wood',
 'Shadab Khan',
 'Tim Southee',
 'Joshua Little',
 'David Willey',
 'Taskin Ahmed',
 'Rohan Mustafa',
 'Shardul Thakur',
 'Lachlan Ferguson',
 'Yuzvendra Chahal',
 'Dushmantha Chameera',
 'Tabraiz Shamsi',
 'Taijul Islam',
 'Fred Klaassen',
 'Ruben Trumpelmann',
 'Safyaan Sharif',
 'Zeeshan Maqsood',
 'Dhananjaya de Silva',
 'Dipendra Airee',
 'Chad Soper',
 'Blessing Muzarabani',
 'Anrich Nortje',
 'Simi Singh',
 'Kaleemullah',
 'Mark Adair',
 'Nosthush Kenjige',
 'Sam Curran',
 'Zahoor Khan',
 'Haris Rauf',
 'Sean Abbott',
 'Richard Ngarava',
 'Assad Vala',
 'Bhuvneshwar Kumar',
 'Jason Holder',
 'Sompal Kami',
 'Moeen Ali',
 'Tangeni Lungameni',
 'Ashton Agar',
 'Hasan Ali',
 'Craig Young',
 'Maheesh Theekshana',
 'Hardik Pandya',
 'Ish Sodhi',
 'Ravindra Jadeja',
 'Michael Leask',
 'Sikandar Raza',
 'Jhye Richardson',
 'Reece Topley',
 'Wayne Parnell',
 'Andile Phehlukwayo',
 'Hamza Tahir',
 'Steven Taylor',
 'Nuwan Pradeep',
 'Christopher Sole',
 'Tendai Chatara',
 'Fazalhaq Farooqi',
 'Khawar Ali',
 'M. Prasidh Krishna',
 'Junaid Siddique',
 'Gulbadin Naib',
 'J.J. Smit',
 'Karan KC',
 'Jeffrey Vandersay',
 'Chamika Karunaratne',
 'Marcus Stoinis',
 'Logan van Beek']

In [157]:
bowlerss=[bb]+bowlers

In [158]:
bowlerss

['Josh Hazlewood',
 'Trent Boult',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Shakib Al Hasan',
 'Matt Henry',
 'Mohammad Nabi',
 'Alzarri Joseph',
 'Chris Woakes',
 'Mark Watt',
 'Kagiso Rabada',
 'Akeal Hosein',
 'Pat Cummins',
 'Mehedi Hasan',
 'Jofra Archer',
 'Mustafizur Rahman',
 'Andy McBrine',
 'Sandeep Lamichhane',
 'Kuldeep Yadav',
 'Lungi Ngidi',
 'Bernard Scholtz',
 'Jasprit Bumrah',
 'Saurabh Netravalkar',
 'Wanindu Hasaranga',
 'Mohammad Nawaz',
 'Adil Rashid',
 'Mitchell Santner',
 'Mohammad Shami',
 'Bilal Khan',
 'Keshav Maharaj',
 'Mark Wood',
 'Shadab Khan',
 'Tim Southee',
 'Joshua Little',
 'David Willey',
 'Taskin Ahmed',
 'Rohan Mustafa',
 'Shardul Thakur',
 'Lachlan Ferguson',
 'Yuzvendra Chahal',
 'Dushmantha Chameera',
 'Tabraiz Shamsi',
 'Taijul Islam',
 'Fred Klaassen',
 'Ruben Trumpelmann',
 'Safyaan Sharif',
 'Zeeshan Maqsood',
 'Dhananjaya de Silva',
 'Dipendra Airee',
 'Chad Soper',
 'Blessing Muzarabani',
 'Anrich Nortje',
 'Simi Singh',
 'Kaleemullah',
 'Mark Adair',
 'Nosthush Kenjige',
 'Sam Curran',
 'Zahoor Khan',
 'Haris Rauf',
 'Sean Abbott',
 'Richard Ngarava',
 'Assad Vala',
 'Bhuvneshwar Kumar',
 'Jason Holder',
 'Sompal Kami',
 'Moeen Ali',
 'Tangeni Lungameni',
 'Ashton Agar',
 'Hasan Ali',
 'Craig Young',
 'Maheesh Theekshana',
 'Hardik Pandya',
 'Ish Sodhi',
 'Ravindra Jadeja',
 'Michael Leask',
 'Sikandar Raza',
 'Jhye Richardson',
 'Reece Topley',
 'Wayne Parnell',
 'Andile Phehlukwayo',
 'Hamza Tahir',
 'Steven Taylor',
 'Nuwan Pradeep',
 'Christopher Sole',
 'Tendai Chatara',
 'Fazalhaq Farooqi',
 'Khawar Ali',
 'M. Prasidh Krishna',
 'Junaid Siddique',
 'Gulbadin Naib',
 'J.J. Smit',
 'Karan KC',
 'Jeffrey Vandersay',
 'Chamika Karunaratne',
 'Marcus Stoinis',
 'Logan van Beek']

In [159]:
t=soup.find('div',class_="rankings-block__banner--nationality")

In [160]:
t.text.split('\n')[2]

'AUS'

In [161]:
tt=t.text.split('\n')[2]

In [162]:
tt

'AUS'

In [163]:
team=soup.find('span',class_="table-body__logo-text")

In [164]:
team.text

'NZ'

In [165]:
teams=[]

for t in soup.find_all('span',class_="table-body__logo-text"):
    teams.append(t.text)

In [166]:
teams

['NZ',
 'IND',
 'AUS',
 'AFG',
 'AUS',
 'PAK',
 'AFG',
 'BAN',
 'NZ',
 'AFG',
 'WI',
 'ENG',
 'SCO',
 'SA',
 'WI',
 'AUS',
 'BAN',
 'ENG',
 'BAN',
 'IRE',
 'NEP',
 'IND',
 'SA',
 'NAM',
 'IND',
 'USA',
 'SL',
 'PAK',
 'ENG',
 'NZ',
 'IND',
 'OMA',
 'SA',
 'ENG',
 'PAK',
 'NZ',
 'IRE',
 'ENG',
 'BAN',
 'UAE',
 'IND',
 'NZ',
 'IND',
 'SL',
 'SA',
 'BAN',
 'NED',
 'NAM',
 'SCO',
 'OMA',
 'SL',
 'NEP',
 'PNG',
 'ZIM',
 'SA',
 'IRE',
 'OMA',
 'IRE',
 'USA',
 'ENG',
 'UAE',
 'PAK',
 'AUS',
 'ZIM',
 'PNG',
 'IND',
 'WI',
 'NEP',
 'ENG',
 'NAM',
 'AUS',
 'PAK',
 'IRE',
 'SL',
 'IND',
 'NZ',
 'IND',
 'SCO',
 'ZIM',
 'AUS',
 'ENG',
 'SA',
 'SA',
 'SCO',
 'USA',
 'SL',
 'SCO',
 'ZIM',
 'AFG',
 'OMA',
 'IND',
 'UAE',
 'AFG',
 'NAM',
 'NEP',
 'SL',
 'SL',
 'AUS',
 'NED']

In [167]:
teams=[tt]+teams

In [168]:
teams

['AUS',
 'NZ',
 'IND',
 'AUS',
 'AFG',
 'AUS',
 'PAK',
 'AFG',
 'BAN',
 'NZ',
 'AFG',
 'WI',
 'ENG',
 'SCO',
 'SA',
 'WI',
 'AUS',
 'BAN',
 'ENG',
 'BAN',
 'IRE',
 'NEP',
 'IND',
 'SA',
 'NAM',
 'IND',
 'USA',
 'SL',
 'PAK',
 'ENG',
 'NZ',
 'IND',
 'OMA',
 'SA',
 'ENG',
 'PAK',
 'NZ',
 'IRE',
 'ENG',
 'BAN',
 'UAE',
 'IND',
 'NZ',
 'IND',
 'SL',
 'SA',
 'BAN',
 'NED',
 'NAM',
 'SCO',
 'OMA',
 'SL',
 'NEP',
 'PNG',
 'ZIM',
 'SA',
 'IRE',
 'OMA',
 'IRE',
 'USA',
 'ENG',
 'UAE',
 'PAK',
 'AUS',
 'ZIM',
 'PNG',
 'IND',
 'WI',
 'NEP',
 'ENG',
 'NAM',
 'AUS',
 'PAK',
 'IRE',
 'SL',
 'IND',
 'NZ',
 'IND',
 'SCO',
 'ZIM',
 'AUS',
 'ENG',
 'SA',
 'SA',
 'SCO',
 'USA',
 'SL',
 'SCO',
 'ZIM',
 'AFG',
 'OMA',
 'IND',
 'UAE',
 'AFG',
 'NAM',
 'NEP',
 'SL',
 'SL',
 'AUS',
 'NED']

In [169]:
r=soup.find('div',class_="rankings-block__banner--rating")

In [170]:
r.text

'705'

In [171]:
rr=r.text

In [172]:
rating=soup.find('td',class_="table-body__cell rating")

In [173]:
rating.text

'701'

In [174]:
ratings=[]

for r in soup.find_all('td',class_="table-body__cell rating"):
    ratings.append(r.text)

In [175]:
ratings

['701',
 '691',
 '686',
 '659',
 '652',
 '641',
 '637',
 '636',
 '635',
 '631',
 '625',
 '612',
 '611',
 '610',
 '597',
 '597',
 '597',
 '596',
 '594',
 '593',
 '588',
 '576',
 '563',
 '558',
 '552',
 '551',
 '550',
 '549',
 '547',
 '546',
 '540',
 '532',
 '532',
 '523',
 '520',
 '517',
 '516',
 '514',
 '514',
 '508',
 '505',
 '505',
 '503',
 '501',
 '497',
 '487',
 '484',
 '483',
 '479',
 '478',
 '469',
 '468',
 '467',
 '467',
 '465',
 '464',
 '462',
 '458',
 '457',
 '454',
 '452',
 '449',
 '448',
 '447',
 '446',
 '446',
 '446',
 '445',
 '441',
 '439',
 '438',
 '436',
 '435',
 '430',
 '428',
 '428',
 '427',
 '426',
 '426',
 '421',
 '418',
 '418',
 '417',
 '413',
 '404',
 '403',
 '402',
 '401',
 '400',
 '398',
 '395',
 '391',
 '391',
 '390',
 '390',
 '386',
 '384',
 '382',
 '382']

In [176]:
ratings=[rr]+ratings

In [177]:
ratings

['705',
 '701',
 '691',
 '686',
 '659',
 '652',
 '641',
 '637',
 '636',
 '635',
 '631',
 '625',
 '612',
 '611',
 '610',
 '597',
 '597',
 '597',
 '596',
 '594',
 '593',
 '588',
 '576',
 '563',
 '558',
 '552',
 '551',
 '550',
 '549',
 '547',
 '546',
 '540',
 '532',
 '532',
 '523',
 '520',
 '517',
 '516',
 '514',
 '514',
 '508',
 '505',
 '505',
 '503',
 '501',
 '497',
 '487',
 '484',
 '483',
 '479',
 '478',
 '469',
 '468',
 '467',
 '467',
 '465',
 '464',
 '462',
 '458',
 '457',
 '454',
 '452',
 '449',
 '448',
 '447',
 '446',
 '446',
 '446',
 '445',
 '441',
 '439',
 '438',
 '436',
 '435',
 '430',
 '428',
 '428',
 '427',
 '426',
 '426',
 '421',
 '418',
 '418',
 '417',
 '413',
 '404',
 '403',
 '402',
 '401',
 '400',
 '398',
 '395',
 '391',
 '391',
 '390',
 '390',
 '386',
 '384',
 '382',
 '382']

In [178]:
bowlers=pd.DataFrame({'Bowler':bowlerss,'Team':teams,'Rating':ratings})

In [179]:
bowlers

                 Bowler Team Rating
0        Josh Hazlewood  AUS    705
1           Trent Boult   NZ    701
2        Mohammed Siraj  IND    691
3        Mitchell Starc  AUS    686
4           Rashid Khan  AFG    659
..                  ...  ...    ...
95             Karan KC  NEP    390
96    Jeffrey Vandersay   SL    386
97  Chamika Karunaratne   SL    384
98       Marcus Stoinis  AUS    382
99       Logan van Beek  NED    382

[100 rows x 3 columns]

In [180]:
bowlers_ratings=bowlers.head(10)

In [181]:
bowlers_ratings

             Bowler Team Rating
0    Josh Hazlewood  AUS    705
1       Trent Boult   NZ    701
2    Mohammed Siraj  IND    691
3    Mitchell Starc  AUS    686
4       Rashid Khan  AFG    659
5        Adam Zampa  AUS    652
6    Shaheen Afridi  PAK    641
7  Mujeeb Ur Rahman  AFG    637
8   Shakib Al Hasan  BAN    636
9        Matt Henry   NZ    635

# Answer 6(A)

In [183]:
odi=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [184]:
odi

In [185]:
soup=BeautifulSoup(odi.content)

In [186]:
t=soup.find('span',class_="u-hide-phablet")

In [187]:
t.text

'Australia'

In [188]:
team=[]
for t in soup.find_all('span',class_="u-hide-phablet"):
    team.append(t.text)

In [189]:
team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [190]:
m=soup.find('td',class_="rankings-block__banner--matches")

In [191]:
m.text

'21'

In [192]:
mm=m.text

In [193]:
mm

'21'

In [194]:
match=soup.find('tr',class_="table-body")

In [195]:
match.text.split('\n')[7]

'28'

In [196]:
matches=[]

for m in soup.find_all('tr',class_="table-body"):
    matches.append(m.text.split('\n')[7])

In [197]:
matches

['28', '26', '27', '25', '27', '13', '8', '27', '8', '14', '9', '8']

In [198]:
matches=[mm]+matches

In [199]:
matches

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8', '14', '9', '8']

In [200]:
pts=soup.find('td',class_="rankings-block__banner--points")

In [201]:
pts.text

'3,603'

In [202]:
point=soup.find('tr',class_="table-body")

In [203]:
point.text

'\n2\n\n\nEngland\nENG\n\n28\n3,342\n119\n'

In [204]:
point.text.split('\n')[8]

'3,342'

In [205]:
points=[]
for p in soup.find_all('tr',class_="table-body"):
    points.append(p.text.split('\n')[8])

In [206]:
points

['3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353',
 '548',
 '0',
 '0']

In [207]:
points=[pts.text]+points

In [208]:
points

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353',
 '548',
 '0',
 '0']

In [209]:
r=soup.find('td',class_="rankings-block__banner--rating u-text-right")

In [210]:
r.text

'\n                            172\n                            \n\n'

In [211]:
rr=r.text.split('\n')[1]

In [212]:
rr

'                            172'

In [213]:
rating=soup.find('tr',class_="table-body")

In [214]:
rating.text.split('\n')[9]

'119'

In [215]:
ratings=[]
for r in soup.find_all('tr',class_="table-body"):
    ratings.append(r.text.split('\n')[9])

In [216]:
ratings

['119', '119', '104', '102', '94', '76', '72', '62', '44', '39', '0', '0']

In [217]:
ratings=[rr]+ratings

In [218]:
ratings

['                            172',
 '119',
 '119',
 '104',
 '102',
 '94',
 '76',
 '72',
 '62',
 '44',
 '39',
 '0',
 '0']

In [219]:
data=pd.DataFrame({'Teams':team,'Matches':matches,'Points':points,'Ratings':ratings})

In [220]:
data

           Teams Matches Points                          Ratings
0      Australia      21  3,603                              172
1        England      28  3,342                              119
2   South Africa      26  3,098                              119
3          India      27  2,820                              104
4    New Zealand      25  2,553                              102
5    West Indies      27  2,535                               94
6     Bangladesh      13    983                               76
7       Thailand       8    572                               72
8       Pakistan      27  1,678                               62
9      Sri Lanka       8    353                               44
10       Ireland      14    548                               39
11   Netherlands       9      0                                0
12      Zimbabwe       8      0                                0

In [221]:
Teams=data.head(10)

In [222]:
Teams

          Teams Matches Points                          Ratings
0     Australia      21  3,603                              172
1       England      28  3,342                              119
2  South Africa      26  3,098                              119
3         India      27  2,820                              104
4   New Zealand      25  2,553                              102
5   West Indies      27  2,535                               94
6    Bangladesh      13    983                               76
7      Thailand       8    572                               72
8      Pakistan      27  1,678                               62
9     Sri Lanka       8    353                               44

# Answer 6 (B)

In [223]:
ranking=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [224]:
ranking

In [225]:
soup=BeautifulSoup(ranking.content)

In [226]:
p=soup.find('div',class_="rankings-block__banner--name-large")

In [227]:
ppp=p.text

In [228]:
ppp

'Alyssa Healy'

In [229]:
player=soup.find('td',class_="table-body__cell rankings-table__name name")

In [230]:
player.text.split('\n')[1]

'Beth Mooney'

In [231]:
playerss=[]

for p in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    playerss.append(p.text.split('\n')[1])

In [232]:
playerss

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite',
 'Ellyse Perry',
 'Tammy Beaumont',
 'Deandra Dottin',
 'Stafanie Taylor',
 'Suzie Bates',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Danielle Wyatt',
 'Chloe-Lesleigh Tryon',
 'Heather Knight',
 'Bismah Maroof',
 'Mignon du Preez',
 'Sophie Devine',
 'Deepti Sharma',
 'Amy Jones',
 'Sidra Ameen',
 'Maddie Green',
 'Ashleigh Gardner',
 'Sune Luus',
 'Gaby Lewis',
 'Nida Dar',
 'Laura Delany',
 'Sophia Dunkley',
 'Fargana Hoque',
 'Tahlia McGrath',
 'Aliya Riaz',
 'Yastika Bhatia',
 'Shafali Verma',
 'Nigar Sultana',
 'Harshitha Madavi',
 'Rumana Ahmed',
 'Nahida Khan',
 'Poonam Raut',
 'Muneeba Ali',
 'Umaima Sohail',
 'Babette de Leede',
 'Lara Goodall',
 'Nattakan Chantam',
 'Amy Hunter',
 'Emma Lamb',
 'Nilakshi Silva',
 'Pooja Vastrakar',
 'Leah Paul',
 'Dane van Niekerk',
 'Javeria Khan',
 'Lauren Down',
 'Jess Jonassen',
 'Katherine Brunt',
 'Brooke Halliday',
 'Sharmin Supta',
 'Shemaine Campbelle',
 'Salma Khatun',
 'Trisha Chetty',
 'Andrie Steyn',
 'Charlotte Dean',
 'Jhulan Goswami',
 'Lauren Winfield',
 'Chedean Nation',
 'Richa Ghosh',
 'Orla Prendergast',
 'Prasadani Weerakkody',
 'Lata Mondal',
 'Annabel Sutherland',
 'Katie Perkins',
 'Sophie Ecclestone',
 'Kycia Knight',
 'Hasini Perera',
 'Rashada Williams',
 'Kavisha Dilhari',
 'Ritu Moni',
 'Nicola Carey',
 'Mary Waldron',
 'Naruemol Chaiwai',
 'Phoebe Litchfield',
 'Harleen Deol',
 'Eimear Richardson',
 'Mary-Anne Musonda',
 'Shamima Sultana',
 'Kate Cross',
 'Nannapat Koncharoenkai',
 'Georgina Dempsey',
 'Chinelle Henry',
 'Murshida Khatun',
 'Shikha Pandey',
 'Jess Kerr',
 'Rosenan Kanoh',
 'Tazmin Brits',
 'Josephine Nkomo',
 'Heather Siegers']

In [233]:
players=[ppp]+playerss

In [234]:
players

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite',
 'Ellyse Perry',
 'Tammy Beaumont',
 'Deandra Dottin',
 'Stafanie Taylor',
 'Suzie Bates',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Danielle Wyatt',
 'Chloe-Lesleigh Tryon',
 'Heather Knight',
 'Bismah Maroof',
 'Mignon du Preez',
 'Sophie Devine',
 'Deepti Sharma',
 'Amy Jones',
 'Sidra Ameen',
 'Maddie Green',
 'Ashleigh Gardner',
 'Sune Luus',
 'Gaby Lewis',
 'Nida Dar',
 'Laura Delany',
 'Sophia Dunkley',
 'Fargana Hoque',
 'Tahlia McGrath',
 'Aliya Riaz',
 'Yastika Bhatia',
 'Shafali Verma',
 'Nigar Sultana',
 'Harshitha Madavi',
 'Rumana Ahmed',
 'Nahida Khan',
 'Poonam Raut',
 'Muneeba Ali',
 'Umaima Sohail',
 'Babette de Leede',
 'Lara Goodall',
 'Nattakan Chantam',
 'Amy Hunter',
 'Emma Lamb',
 'Nilakshi Silva',
 'Pooja Vastrakar',
 'Leah Paul',
 'Dane van Niekerk',
 'Javeria Khan',
 'Lauren Down',
 'Jess Jonassen',
 'Katherine Brunt',
 'Brooke Halliday',
 'Sharmin Supta',
 'Shemaine Campbelle',
 'Salma Khatun',
 'Trisha Chetty',
 'Andrie Steyn',
 'Charlotte Dean',
 'Jhulan Goswami',
 'Lauren Winfield',
 'Chedean Nation',
 'Richa Ghosh',
 'Orla Prendergast',
 'Prasadani Weerakkody',
 'Lata Mondal',
 'Annabel Sutherland',
 'Katie Perkins',
 'Sophie Ecclestone',
 'Kycia Knight',
 'Hasini Perera',
 'Rashada Williams',
 'Kavisha Dilhari',
 'Ritu Moni',
 'Nicola Carey',
 'Mary Waldron',
 'Naruemol Chaiwai',
 'Phoebe Litchfield',
 'Harleen Deol',
 'Eimear Richardson',
 'Mary-Anne Musonda',
 'Shamima Sultana',
 'Kate Cross',
 'Nannapat Koncharoenkai',
 'Georgina Dempsey',
 'Chinelle Henry',
 'Murshida Khatun',
 'Shikha Pandey',
 'Jess Kerr',
 'Rosenan Kanoh',
 'Tazmin Brits',
 'Josephine Nkomo',
 'Heather Siegers']

In [235]:
t=soup.find('div',class_="rankings-block__banner--nationality")

In [236]:
tt=t.text.split('\n')[2]

In [237]:
tt

'AUS'

In [238]:
team=soup.find('span',class_="table-body__logo-text")

In [239]:
team.text

'AUS'

In [240]:
teamss=[]

for t in soup.find_all('span',class_="table-body__logo-text"):
    teamss.append(t.text)

In [241]:
teamss

['AUS',
 'SA',
 'ENG',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'SL',
 'NZ',
 'AUS',
 'ENG',
 'WI',
 'WI',
 'NZ',
 'NZ',
 'SA',
 'WI',
 'ENG',
 'SA',
 'ENG',
 'PAK',
 'SA',
 'NZ',
 'IND',
 'ENG',
 'PAK',
 'NZ',
 'AUS',
 'SA',
 'IRE',
 'PAK',
 'IRE',
 'ENG',
 'BAN',
 'AUS',
 'PAK',
 'IND',
 'IND',
 'BAN',
 'SL',
 'BAN',
 'PAK',
 'IND',
 'PAK',
 'PAK',
 'NED',
 'SA',
 'THA',
 'IRE',
 'ENG',
 'SL',
 'IND',
 'IRE',
 'SA',
 'PAK',
 'NZ',
 'AUS',
 'ENG',
 'NZ',
 'BAN',
 'WI',
 'BAN',
 'SA',
 'SA',
 'ENG',
 'IND',
 'ENG',
 'WI',
 'IND',
 'IRE',
 'SL',
 'BAN',
 'AUS',
 'NZ',
 'ENG',
 'WI',
 'SL',
 'WI',
 'SL',
 'BAN',
 'AUS',
 'IRE',
 'THA',
 'AUS',
 'IND',
 'IRE',
 'ZIM',
 'BAN',
 'ENG',
 'THA',
 'IRE',
 'WI',
 'BAN',
 'IND',
 'NZ',
 'THA',
 'SA',
 'ZIM',
 'NED']

In [242]:
teams=[tt]+teamss

In [243]:
teams

['AUS',
 'AUS',
 'SA',
 'ENG',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'SL',
 'NZ',
 'AUS',
 'ENG',
 'WI',
 'WI',
 'NZ',
 'NZ',
 'SA',
 'WI',
 'ENG',
 'SA',
 'ENG',
 'PAK',
 'SA',
 'NZ',
 'IND',
 'ENG',
 'PAK',
 'NZ',
 'AUS',
 'SA',
 'IRE',
 'PAK',
 'IRE',
 'ENG',
 'BAN',
 'AUS',
 'PAK',
 'IND',
 'IND',
 'BAN',
 'SL',
 'BAN',
 'PAK',
 'IND',
 'PAK',
 'PAK',
 'NED',
 'SA',
 'THA',
 'IRE',
 'ENG',
 'SL',
 'IND',
 'IRE',
 'SA',
 'PAK',
 'NZ',
 'AUS',
 'ENG',
 'NZ',
 'BAN',
 'WI',
 'BAN',
 'SA',
 'SA',
 'ENG',
 'IND',
 'ENG',
 'WI',
 'IND',
 'IRE',
 'SL',
 'BAN',
 'AUS',
 'NZ',
 'ENG',
 'WI',
 'SL',
 'WI',
 'SL',
 'BAN',
 'AUS',
 'IRE',
 'THA',
 'AUS',
 'IND',
 'IRE',
 'ZIM',
 'BAN',
 'ENG',
 'THA',
 'IRE',
 'WI',
 'BAN',
 'IND',
 'NZ',
 'THA',
 'SA',
 'ZIM',
 'NED']

In [244]:
rr=soup.find('div',class_="rankings-block__banner--rating")

In [245]:
rr.text

'762'

In [246]:
ratingg=[]

for r in soup.find_all('td',class_="table-body__cell rating"):
    ratingg.append(r.text)

In [247]:
ratingg

['754',
 '732',
 '731',
 '717',
 '716',
 '714',
 '680',
 '655',
 '641',
 '626',
 '595',
 '589',
 '588',
 '588',
 '587',
 '585',
 '566',
 '566',
 '557',
 '555',
 '551',
 '548',
 '548',
 '547',
 '535',
 '522',
 '509',
 '507',
 '496',
 '485',
 '476',
 '475',
 '465',
 '462',
 '448',
 '432',
 '426',
 '405',
 '403',
 '402',
 '399',
 '398',
 '397',
 '395',
 '395',
 '394',
 '394',
 '386',
 '385',
 '384',
 '384',
 '380',
 '372',
 '363',
 '360',
 '346',
 '346',
 '345',
 '337',
 '333',
 '323',
 '320',
 '314',
 '311',
 '310',
 '307',
 '305',
 '304',
 '302',
 '298',
 '298',
 '296',
 '285',
 '276',
 '273',
 '272',
 '267',
 '266',
 '266',
 '266',
 '265',
 '263',
 '257',
 '253',
 '253',
 '247',
 '244',
 '241',
 '239',
 '235',
 '232',
 '231',
 '228',
 '228',
 '226',
 '225',
 '224',
 '222',
 '222']

In [248]:
ratings=[rr.text]+ratingg

In [249]:
ratings

['762',
 '754',
 '732',
 '731',
 '717',
 '716',
 '714',
 '680',
 '655',
 '641',
 '626',
 '595',
 '589',
 '588',
 '588',
 '587',
 '585',
 '566',
 '566',
 '557',
 '555',
 '551',
 '548',
 '548',
 '547',
 '535',
 '522',
 '509',
 '507',
 '496',
 '485',
 '476',
 '475',
 '465',
 '462',
 '448',
 '432',
 '426',
 '405',
 '403',
 '402',
 '399',
 '398',
 '397',
 '395',
 '395',
 '394',
 '394',
 '386',
 '385',
 '384',
 '384',
 '380',
 '372',
 '363',
 '360',
 '346',
 '346',
 '345',
 '337',
 '333',
 '323',
 '320',
 '314',
 '311',
 '310',
 '307',
 '305',
 '304',
 '302',
 '298',
 '298',
 '296',
 '285',
 '276',
 '273',
 '272',
 '267',
 '266',
 '266',
 '266',
 '265',
 '263',
 '257',
 '253',
 '253',
 '247',
 '244',
 '241',
 '239',
 '235',
 '232',
 '231',
 '228',
 '228',
 '226',
 '225',
 '224',
 '222',
 '222']

In [250]:
women_odi=pd.DataFrame({'Player':players,'Team':teams,'Rating':ratings})

In [251]:
women_odi

             Player Team Rating
0      Alyssa Healy  AUS    762
1       Beth Mooney  AUS    754
2   Laura Wolvaardt   SA    732
3    Natalie Sciver  ENG    731
4       Meg Lanning  AUS    717
..              ...  ...    ...
95        Jess Kerr   NZ    226
96    Rosenan Kanoh  THA    225
97     Tazmin Brits   SA    224
98  Josephine Nkomo  ZIM    222
99  Heather Siegers  NED    222

[100 rows x 3 columns]

In [252]:
w_odi=women_odi.head(10)

In [253]:
w_odi

                Player Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7       Rachael Haynes  AUS    680
8  Chamari Athapaththu   SL    655
9    Amy Satterthwaite   NZ    641

# Answer 6(C)

In [254]:
#solution

In [255]:
allrounders=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [256]:
allrounders

In [257]:
soup=BeautifulSoup(allrounders.content)

In [258]:
a=soup.find('div',class_="rankings-block__banner--name-large")

In [259]:
a.text

'Hayley Matthews'

In [260]:
aq=a.text

In [261]:
aq

'Hayley Matthews'

In [262]:
ar=soup.find('td',class_="table-body__cell rankings-table__name name")

In [263]:
ar.text.split('\n')[1]

'Natalie Sciver'

In [264]:
ars=[]

for a in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    ars.append(a.text.split('\n')[1])

In [265]:
ars

['Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Sophie Devine',
 'Chloe-Lesleigh Tryon',
 'Katherine Brunt',
 'Rumana Ahmed',
 'Stafanie Taylor',
 'Chamari Athapaththu',
 'Charlotte Dean',
 'Sune Luus',
 'Salma Khatun']

In [266]:
allrounder=[aq]+ars

In [267]:
allrounder

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Sophie Devine',
 'Chloe-Lesleigh Tryon',
 'Katherine Brunt',
 'Rumana Ahmed',
 'Stafanie Taylor',
 'Chamari Athapaththu',
 'Charlotte Dean',
 'Sune Luus',
 'Salma Khatun']

In [268]:
ts=soup.find('div',class_="rankings-block__banner--nationality")

In [269]:
ts.text.split('\n')[2]

'WI'

In [270]:
nts=ts.text.split('\n')[2]

In [271]:
nts

'WI'

In [272]:
nt=soup.find('span',class_="table-body__logo-text")

In [273]:
nt.text

'ENG'

In [274]:
natt=[]
for n in soup.find_all('span',class_="table-body__logo-text"):
    natt.append(n.text)

In [275]:
natt

['ENG',
 'AUS',
 'SA',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'PAK',
 'IND',
 'ENG',
 'NZ',
 'SA',
 'ENG',
 'BAN',
 'WI',
 'SL',
 'ENG',
 'SA',
 'BAN']

In [276]:
team=[nts]+natt

In [277]:
team

['WI',
 'ENG',
 'AUS',
 'SA',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'PAK',
 'IND',
 'ENG',
 'NZ',
 'SA',
 'ENG',
 'BAN',
 'WI',
 'SL',
 'ENG',
 'SA',
 'BAN']

In [278]:
rt=soup.find('div',class_="rankings-block__banner--rating")

In [279]:
rt.text

'373'

In [280]:
rate=soup.find('td',class_="table-body__cell rating")

In [281]:
rate.text

'371'

In [282]:
rating=[]

for r in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(r.text)

In [283]:
rating

['371',
 '366',
 '349',
 '336',
 '322',
 '292',
 '250',
 '232',
 '214',
 '205',
 '202',
 '197',
 '195',
 '184',
 '181',
 '178',
 '174',
 '171',
 '169']

In [284]:
ratings=[rt.text]+rating

In [285]:
ratings

['373',
 '371',
 '366',
 '349',
 '336',
 '322',
 '292',
 '250',
 '232',
 '214',
 '205',
 '202',
 '197',
 '195',
 '184',
 '181',
 '178',
 '174',
 '171',
 '169']

In [286]:
len(allrounder)

20

In [287]:
len(team)

20

In [288]:
len(ratings)

20

In [289]:
ar=pd.DataFrame({'Player':allrounder,'Team':team,'Rating':ratings})

In [290]:
ar

                  Player Team Rating
0        Hayley Matthews   WI    373
1         Natalie Sciver  ENG    371
2           Ellyse Perry  AUS    366
3         Marizanne Kapp   SA    349
4            Amelia Kerr   NZ    336
5          Deepti Sharma  IND    322
6       Ashleigh Gardner  AUS    292
7          Jess Jonassen  AUS    250
8               Nida Dar  PAK    232
9         Jhulan Goswami  IND    214
10     Sophie Ecclestone  ENG    205
11         Sophie Devine   NZ    202
12  Chloe-Lesleigh Tryon   SA    197
13       Katherine Brunt  ENG    195
14          Rumana Ahmed  BAN    184
15       Stafanie Taylor   WI    181
16   Chamari Athapaththu   SL    178
17        Charlotte Dean  ENG    174
18             Sune Luus   SA    171
19          Salma Khatun  BAN    169

In [291]:
allrounders=ar.head(10)

In [292]:
allrounders

             Player Team Rating
0   Hayley Matthews   WI    373
1    Natalie Sciver  ENG    371
2      Ellyse Perry  AUS    366
3    Marizanne Kapp   SA    349
4       Amelia Kerr   NZ    336
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    292
7     Jess Jonassen  AUS    250
8          Nida Dar  PAK    232
9    Jhulan Goswami  IND    214

# Answer 7

In [293]:
news=requests.get('https://www.cnbc.com/world/?region=world')

In [294]:
news

In [295]:
soup=BeautifulSoup(news.content)

In [296]:
hl=soup.find('a',class_="LatestNews-headline")

In [297]:
hl

<a class="LatestNews-headline" href="https://www.cnbc.com/2023/04/01/disney-ceo-bob-iger-is-making-moves-that-should-please-investors.html" title="The return of Bob Iger: Disney CEO makes moves that should please investors">The return of Bob Iger: Disney CEO makes moves that should please investors</a>

In [298]:
hl.text

'The return of Bob Iger: Disney CEO makes moves that should please investors'

In [299]:
head=[]
for h in soup.find_all('a',class_="LatestNews-headline"):
    head.append(h.text)

In [300]:
head

['The return of Bob Iger: Disney CEO makes moves that should please investors',
 "Gen Zer, millennial pay under $700/month to rent 'micro apartments' in NYC",
 'If you use these 13 phrases every day, you have high emotional intelligence: Psychology experts',
 'Psychologist: This is the No. 1 way to shut down negativity in your friendships',
 '79% of hotel guests say you should tip—but only 30% do',
 'Hot off up quarter for stocks, investors turn to jobs, manufacturing data',
 '30-day money challenge to get smarter and more successful with your money',
 "Tipping in the United States has gotten out of control, experts say. Here's why",
 'These stocks are a must-own as market uncertainty weighs on investors',
 "ETF outlook: Why Wall Street strategists aren't yet chasing a growth stock trade",
 "Markets and economy survived tough first quarter, but it's not getting easier",
 'Pet stocks are a hit or miss as consumer spending shifts, Jim Cramer says',
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 'Here are our 4 best stocks — and 4 worst stocks — of the first quarter',
 "Judge allows Dominion's $1.6 billion defamation suit against Fox to go to trial",
 'Google founder, former Disney exec to get subpoenas in JPMorgan Epstein lawsuit',
 'Millions will start losing Medicaid coverage',
 "Trump's campaign uses Facebook to fundraise off indictment",
 "Here's how Virgin Orbit fell apart",
 'What to watch in the markets in the week ahead',
 'How women are re-defining ambition to build happier, more successful careers',
 'These stocks could benefit from lower tax refunds, according to Stephens',
 'U.S. appeals decision striking down free Obamacare coverage of preventive care',
 'The top 10 states with the longest life expectancy and healthiest lifestyles',
 "This week's top S&P 500 stocks include First Republic and this casino owner",
 '‘Rust’ assistant director pleads guilty to gun charge in movie set shooting case',
 "Investors 'are pretty afraid,' financial psychologist says: These steps can help  ",
 'Bitcoin posts its third straight positive month, best quarter since 2021',
 'Paying more and earning less: How inflation disproportionately hurts women',
 'California to require half of all heavy trucks sales to be electric by 2035']

In [301]:
time=soup.find('time',class_="LatestNews-timestamp")

In [302]:
time.text

'3 Hours Ago'

In [303]:
times=[]

for t in soup.find_all('time',class_="LatestNews-timestamp"):
    times.append(t.text)

In [304]:
times

['3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '18 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '23 Hours Ago',
 '23 Hours Ago',
 '24 Hours Ago',
 '24 Hours Ago',
 '24 Hours Ago',
 'March 31, 2023',
 'March 31, 2023',
 'March 31, 2023',
 'March 31, 2023',
 'March 31, 2023',
 'March 31, 2023']

In [305]:
u=soup.find('a',class_="LatestNews-headline")

In [306]:
ur=u.get('href')

In [307]:
ur

'https://www.cnbc.com/2023/04/01/disney-ceo-bob-iger-is-making-moves-that-should-please-investors.html'

In [308]:
url=[]
for u in soup.find_all('a',class_="LatestNews-headline"):
    url.append(u.get('href'))

In [309]:
url

['https://www.cnbc.com/2023/04/01/disney-ceo-bob-iger-is-making-moves-that-should-please-investors.html',
 'https://www.cnbc.com/2023/04/01/millennials-micro-apartments-unlocked.html',
 'https://www.cnbc.com/2023/04/01/if-you-use-these-phrases-every-day-you-have-high-emotional-intelligence-say-psychology-experts.html',
 'https://www.cnbc.com/2023/04/01/harvard-trained-psychologist-number-one-way-to-shut-down-negativity.html',
 'https://www.cnbc.com/2023/04/01/how-much-to-tip-at-hotels.html',
 'https://www.cnbc.com/2023/04/01/hot-off-a-positive-quarter-investors-turn-to-jobs-manufacturing-data.html',
 'https://www.cnbc.com/2023/04/01/financial-literacy-month-30-day-money-challenge.html',
 'https://www.cnbc.com/2023/04/01/how-tipping-in-the-united-states-got-out-of-control.html',
 'https://www.cnbc.com/2023/04/01/analysts-say-buy-these-stocks-as-macro-uncertainty-weighs-on-markets.html',
 'https://www.cnbc.com/2023/04/01/quarterly-investment-guide-2q-2023-etf-sector-outlook.html',
 'https://www.cnbc.com/2023/04/01/quarterly-investment-guide-2q-2023-economic-and-investing-outlook.html',
 'https://www.cnbc.com/2023/03/31/pet-stocks-are-hit-or-miss-post-covid-lockdown-jim-cramer-says.html',
 'https://www.cnbc.com/2023/03/31/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2023/03/31/first-quarter-2023-best-and-worst-stocks-investing-club.html',
 'https://www.cnbc.com/2023/03/31/fox-motions-rejected-dominion-lawsuit-trial.html',
 'https://www.cnbc.com/2023/03/31/google-founder-former-disney-exec-to-get-subpoenas-in-jpmorgan-epstein-lawsuit.html',
 'https://www.cnbc.com/2023/03/31/medicaid-millions-to-lose-coverage-as-covid-safety-net-dismantled.html',
 'https://www.cnbc.com/2023/03/31/trump-indictment-campaign-uses-facebook-to-fundraise.html',
 'https://www.cnbc.com/2023/03/31/virgin-orbit-what-went-wrong.html',
 'https://www.cnbc.com/2023/03/31/stocks-could-be-shaky-in-the-week-ahead-as-sigh-of-relief-rally-runs-its-course.html',
 'https://www.cnbc.com/2023/03/31/how-women-are-re-defining-ambition-to-build-happier-more-successful-careers.html',
 'https://www.cnbc.com/2023/03/31/tax-refunds-are-lower-this-year-but-these-stocks-could-be-winners.html',
 'https://www.cnbc.com/2023/03/31/obamacare-biden-appeals-ruling-striking-down-free-preventive-care.html',
 'https://www.cnbc.com/2023/03/31/top-10-states-with-the-longest-life-expectancy-and-healthiest-lives.html',
 'https://www.cnbc.com/2023/03/31/weeks-top-sp-500-stocks-include-first-republic-and-this-casino-owner.html',
 'https://www.cnbc.com/2023/03/31/rust-assistant-director-pleads-guilty-gun-charge.html',
 'https://www.cnbc.com/2023/03/31/financial-psychologist-2-steps-to-cope-with-fear-over-the-market.html',
 'https://www.cnbc.com/2023/03/31/bitcoin-heads-for-its-third-positive-up-month-best-quarter-since-2021.html',
 'https://www.cnbc.com/2023/03/31/paying-more-and-earning-less-how-inflation-disproportionately-hurts-women.html',
 'https://www.cnbc.com/2023/03/31/california-requires-half-of-heavy-trucks-sales-to-be-electric-by-2035.html']

In [310]:
d=pd.DataFrame({'Headline':head,'Time':time,'URL':url})

In [311]:
d

,Headline,Time,URL
0,The return of Bob Iger: Disney CEO makes moves...,3 Hours Ago,https://www.cnbc.com/2023/04/01/disney-ceo-bob...
1,"Gen Zer, millennial pay under $700/month to re...",3 Hours Ago,https://www.cnbc.com/2023/04/01/millennials-mi...
2,"If you use these 13 phrases every day, you hav...",3 Hours Ago,https://www.cnbc.com/2023/04/01/if-you-use-the...
3,Psychologist: This is the No. 1 way to shut do...,3 Hours Ago,https://www.cnbc.com/2023/04/01/harvard-traine...
4,79% of hotel guests say you should tip—but onl...,3 Hours Ago,https://www.cnbc.com/2023/04/01/how-much-to-ti...
5,"Hot off up quarter for stocks, investors turn ...",3 Hours Ago,https://www.cnbc.com/2023/04/01/hot-off-a-posi...
6,30-day money challenge to get smarter and more...,3 Hours Ago,https://www.cnbc.com/2023/04/01/financial-lite...
7,Tipping in the United States has gotten out of...,3 Hours Ago,https://www.cnbc.com/2023/04/01/how-tipping-in...
8,These stocks are a must-own as market uncertai...,3 Hours Ago,https://www.cnbc.com/2023/04/01/analysts-say-b...
9,ETF outlook: Why Wall Street strategists aren'...,3 Hours Ago,https://www.cnbc.com/2023/04/01/quarterly-inve...
10,Markets and economy survived tough first quart...,3 Hours Ago,https://www.cnbc.com/2023/04/01/quarterly-inve...
11,Pet stocks are a hit or miss as consumer spend...,3 Hours Ago,https://www.cnbc.com/2023/03/31/pet-stocks-are...
12,Pro Picks: Watch all of Friday's big stock cal...,3 Hours Ago,https://www.cnbc.com/2023/03/31/pro-picks-watc...
13,Here are our 4 best stocks — and 4 worst stock...,3 Hours Ago,https://www.cnbc.com/2023/03/31/first-quarter-...
14,Judge allows Dominion's $1.6 billion defamatio...,3 Hours Ago,https://www.cnbc.com/2023/03/31/fox-motions-re...
15,"Google founder, former Disney exec to get subp...",3 Hours Ago,https://www.cnbc.com/2023/03/31/google-founder...
16,Millions will start losing Medicaid coverage,3 Hours Ago,https://www.cnbc.com/2023/03/31/medicaid-milli...
17,Trump's campaign uses Facebook to fundraise of...,3 Hours Ago,https://www.cnbc.com/2023/03/31/trump-indictme...
18,Here's how Virgin Orbit fell apart,3 Hours Ago,https://www.cnbc.com/2023/03/31/virgin-orbit-w...
19,What to watch in the markets in the week ahead,3 Hours Ago,https://www.cnbc.com/2023/03/31/stocks-could-b...
20,How women are re-defining ambition to build ha...,3 Hours Ago,https://www.cnbc.com/2023/03/31/how-women-are-...
21,These stocks could benefit from lower tax refu...,3 Hours Ago,https://www.cnbc.com/2023/03/31/tax-refunds-ar...
22,U.S. appeals decision striking down free Obama...,3 Hours Ago,https://www.cnbc.com/2023/03/31/obamacare-bide...
23,The top 10 states with the longest life expect...,3 Hours Ago,https://www.cnbc.com/2023/03/31/top-10-states-...
24,This week's top S&P 500 stocks include First R...,3 Hours Ago,https://www.cnbc.com/2023/03/31/weeks-top-sp-5...
25,‘Rust’ assistant director pleads guilty to gun...,3 Hours Ago,https://www.cnbc.com/2023/03/31/rust-assistant...
26,"Investors 'are pretty afraid,' financial psych...",3 Hours Ago,https://www.cnbc.com/2023/03/31/financial-psyc...
27,Bitcoin posts its third straight positive mont...,3 Hours Ago,https://www.cnbc.com/2023/03/31/bitcoin-heads-...
28,Paying more and earning less: How inflation di...,3 Hours Ago,https://www.cnbc.com/2023/03/31/paying-more-an...
29,California to require half of all heavy trucks...,3 Hours Ago,https://www.cnbc.com/2023/03/31/california-req...

# Answer 8

In [312]:
ai=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [313]:
ai

In [314]:
soup=BeautifulSoup(ai.content)

In [315]:
title=soup.find('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")

In [316]:
title.text

'Reward is enough'

In [317]:
titles=[]

for t in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    titles.append(t.text)

In [318]:
titles

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [319]:
ps=soup.find('span',class_="sc-1w3fpd7-0 dnCnAO")

In [320]:
ps.text

'Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. '

In [321]:
publisher=[]

for p in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    publisher.append(p.text)

In [322]:
publisher

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [323]:
d=soup.find('span',class_="sc-1thf9ly-2 dvggWt")

In [324]:
d.text

'October 2021'

In [325]:
dates=[]

for dt in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    dates.append(dt.text)

In [326]:
dates

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [327]:
u=soup.find('a',class_="sc-5smygv-0 fIXTHm")

In [328]:
url1=u.get('href')

In [329]:
url1

'https://www.sciencedirect.com/science/article/pii/S0004370221000862'

In [330]:
urls=[]
for u in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    urls.append(u.get('href'))

In [331]:

urls

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [332]:
df=pd.DataFrame({'Title':titles,'Publisher':publisher,'Dates':dates,'URL':urls})

In [333]:
df

,Title,Publisher,Dates,URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Answer 9

In [334]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [335]:
page

In [336]:
soup=BeautifulSoup(page.content)

In [337]:
name=soup.find('a',class_="restnt-name ellipsis")

In [338]:
name.text

'Castle Barbeque'

In [339]:
names=[]

for n in soup.find_all('a',class_="restnt-name ellipsis"):
    names.append(n.text)

In [340]:
names

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [341]:
c=soup.find('span',class_="double-line-ellipsis")

In [342]:
c.text

'₹ 2,000 for 2 (approx) | Chinese, North Indian'

In [343]:
c.text.split('|')[1]

' Chinese, North Indian'

In [344]:
cuisine=[]

for cu in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(cu.text.split('|')[1])

In [345]:
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [346]:
loc=soup.find('div',class_="restnt-loc ellipsis")

In [347]:
loc.text

'Connaught Place, Central Delhi'

In [348]:
locs=[]

for l in soup.find_all('div',class_="restnt-loc ellipsis"):
    locs.append(l.text)

locs

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [349]:
rate=soup.find('div',class_="restnt-rating rating-4")

In [350]:
rate.text

'4'

In [351]:
rating=[]

for r in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(r.text)

In [352]:
rating

['4', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [353]:
images=[]
for i in soup.find_all('img',class_="no-img"):
    images.append(i.get('data-src'))

In [354]:
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [355]:
do=pd.DataFrame({'Restaurant name':names,'Cuisine':cuisine,'Location':locs,'Rating':rating,'images URL':images})

In [356]:
do

,Restaurant name,Cuisine,Location,Rating,images URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...