In [1]:
#import all the necessary libraries

# Answer 1

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Banglore')

In [7]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
jt=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for j in jt[0:10]:
    title=j.text
    job_title.append(title)

    
    
    
jl=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for j in jl[0:10]:
    location=j.text
    job_location.append(location)


cn=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for c in cn[0:10]:
    company=c.text
    company_name.append(company)
    
    
    
    
er=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for e in er[0:10]:
    experience=e.text
    experience_required.append(experience)

In [10]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})

In [12]:
df

,Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru,Globals Ites,2-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,Varite,4-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Mm Staffing & Career Consultants,0-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Cynosure Corporate Solutions,2-7 Yrs
4,Oracle Tax & Treasury PMO Contractor (Data Ana...,Bangalore/Bengaluru,Oracle,3-7 Yrs
5,Environmental Sustainability Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...","PerkinElmer, Inc.",2-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,NNE Pharmaplan,1-2 Yrs
7,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
8,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs

# Answer 2

In [13]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [14]:
driver.get('https://www.naukri.com/')

In [15]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Scientist')

In [16]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Banglore')

In [17]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [18]:
jobtitle=[]
joblocation=[]
companyname=[]

In [19]:
jobs=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for j in jobs[0:10]:
    job=j.text
    jobtitle.append(job)
    
    
location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for l in location[0:10]:
    loc=l.text
    joblocation.append(loc)
    
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for c in company[0:10]:
    com=c.text
    companyname.append(com)

In [20]:
print(len(jobtitle),len(joblocation),len(companyname))

10 10 10

In [21]:
data=pd.DataFrame({'Job_title':jobtitle,'Location':joblocation,'Company':companyname})

In [22]:
data

,Job_title,Location,Company
0,Data Science Professional - IBM SPSS Statistic...,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru",Hexaware Technologies
1,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Senior data scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics
4,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics
5,Data Scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics
6,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent
7,Sr. Data scientist,"Hybrid - Bangalore/Bengaluru, Mumbai (All Areas)",PayU
8,Manager - Innovations Hub - Machine Learning,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC
9,Lead Data Scientist,Bangalore/Bengaluru,Genpact

# Answer 3

In [23]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [24]:
driver.get('https://www.naukri.com/')

In [25]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [26]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [29]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location.click()

In [30]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [31]:
jtitle=[]
jlocation=[]
cname=[]
erequired=[]

In [32]:
ts=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in ts[0:10]:
    ttle=i.text
    jtitle.append(ttle)
    
    
lts=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in lts[0:10]:
    lc=i.text
    jlocation.append(lc)
    
    
    
cts=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for c in cts[0:10]:
    comp=c.text
    cname.append(comp)
    
    
    
ets=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for e in ets[0:10]:
    expr=e.text
    erequired.append(expr)

In [33]:
print(len(jtitle),len(jlocation),len(cname),len(erequired))

10 10 10 10

In [34]:
dataframe=pd.DataFrame({'Title':jtitle,'Location':jlocation,'Company':cname,'Experience':erequired})

In [35]:
dataframe

,Title,Location,Company,Experience
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs
9,Data Science Instructor ( Full Time ),Noida,Dataisgood Edutech Pvt Ltd,1-3 Yrs

# Answer 4

In [36]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [37]:
driver.get('https://www.flipkart.com/')

In [38]:
searching=driver.find_element(By.CLASS_NAME,'_3704LK')
searching.send_keys('sunglasses')

In [39]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [40]:
brandss=[]
price=[]
off=[]
description=[]

In [41]:
s=0
e=3
for page in range(s,e):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for b in brand:
        brandss.append(b.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [42]:
s=0
e=3
for page in range(s,e):
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in prices:
        price.append(p.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [43]:
s=0
e=3
for page in range(s,e):
    offs=driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
    for o in offs:
        off.append(o.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [44]:
s=0
e=3
for page in range(s,e):
    des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for d in des:
        description.append(d.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [45]:
print(len(brandss),len(price),len(off),len(description))

120 120 120 119

In [46]:
brandss=brandss[:100]

price=price[:100]

off=off[:100]

description=description[:100]

In [47]:
print(len(brandss),len(price),len(off),len(description))

100 100 100 100

In [48]:
df=pd.DataFrame({'Brands':brandss,'Price':price,'Actual_price':off,'Description':description})

In [49]:
df

,Brands,Price,Actual_price,Description
0,VINCENT CHASE,₹189,"₹1,999","Gradient, UV Protection Wayfarer Sunglasses (F..."
1,RBILZ,₹539,₹999,Polarized Retro Square Sunglasses (Free Size)
2,SRPM,₹544,"₹1,299","UV Protection, Polarized Wayfarer Sunglasses (..."
3,Elligator,"₹1,409",₹599,"Polarized, UV Protection Rectangular Sunglasse..."
4,Fastrack,₹293,"₹1,099",UV Protection Rectangular Sunglasses (56)
...,...,...,...,...
95,AISLIN,₹445,"₹1,999","Mirrored, Night Vision, UV Protection, Riding ..."
96,Shaah Collection,₹179,"₹1,699",UV Protection Wayfarer Sunglasses (54)
97,Fastrack,₹280,₹899,"Riding Glasses, UV Protection Sunglass"
98,Fastrack,₹99,₹999,"Polarized, UV Protection Round Sunglasses (51)"
99,ROYAL SON,₹996,"₹4,500",UV Protection Over-sized Sunglasses (60)

# Answer 5

In [50]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [51]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=575ce9d8-41ee-4ede-af79-76d5d63eb703.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=81ipfavcfk0000001681245517408&qH=f6cdfdaa9f3c23f3')

In [52]:
click=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
click.click()

In [53]:
stars=[]
review_summary=[]
full_review=[]

In [54]:
s=0
e=10
for page in range(s,e):
    star=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for s in star:
        stars.append(s.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(5)

In [55]:
len(stars)

100

In [56]:
s=0
e=10
for page in range(s,e):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for r in review:
        review_summary.append(r.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(5)

In [57]:
len(review_summary)

100

In [58]:
s=0
e=10
for page in range(s,e):
    fr=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for f in fr:
        full_review.append(f.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(5)

In [59]:
len(full_review)

100

In [60]:
data=pd.DataFrame({'Stars':stars,'Review_summary':review_summary,'Full_review':full_review})

In [61]:
data

,Stars,Review_summary,Full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...

# Answer 6

In [62]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [63]:
driver.get('https://www.flipkart.com/')

In [64]:
search=driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys('sneakers')

In [65]:
searching=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
searching.click()

In [66]:
brands=[]
product_description=[]
price=[]

In [67]:
s=0
e=3
for page in range(s,e):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for b in brand:
        brands.append(b.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [68]:
len(brands)

120

In [69]:
s=0
e=3
for page in range(s,e):
    pd=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for p in pd:
        product_description.append(p.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [70]:
len(product_description)

109

In [71]:
s=0
e=3
for page in range(s,e):
    pricee=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in pricee:
        price.append(p.text)
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)

In [72]:
len(price)

120

In [73]:
brands=brands[:100]
product_description=product_description[:100]
price=price[:100]

In [74]:
print(len(brands),len(product_description),len(price))

100 100 100

In [75]:
print(type(brands),type(product_description),type(price))

<class 'list'> <class 'list'> <class 'list'>

In [77]:
import pandas as pd

In [78]:
sneakers=pd.DataFrame({'Brand':brands,'Product_description':product_description,'Price':price})

In [79]:
sneakers

              Brand                                Product_description   Price
0       New Balance                                   Sneakers For Men  ₹4,924
1            Kraasa  Stylish & Trending Outdoor Walking Comfortable...    ₹571
2               SFR                        Smash Vulc Sneakers For Men    ₹299
3            Kraasa               Modern Trendy Shoes Sneakers For Men    ₹299
4             BIRDE  Stylish Comfortable Lightweight, Breathable Wo...    ₹499
..              ...                                                ...     ...
95            BIRDE  Premium White Sneakers For women Sneakers For ...    ₹499
96      New Balance                                   Sneakers For Men    ₹999
97  U.S. POLO ASSN.  Latest Exclusive Affordable Collection of Tren...    ₹799
98             aadi                                   Sneakers For Men    ₹399
99            BIRDE                              5740 Sneakers For Men    ₹199

[100 rows x 3 columns]

# Answer 7

In [80]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [81]:
driver.get('https://www.amazon.in/')

In [82]:
searching=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
searching.send_keys('Laptop')

In [83]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [84]:
cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[7]/li[10]/span/a/div/label/i')
cpu.click()

In [85]:
title=[]
ratings=[]
price=[]

In [86]:
titles=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titles[0:10]:
    titless=i.text
    title.append(titless)
    
    
rating=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for r in rating[0:10]:
    rate=r.text
    ratings.append(rate)
    
    
    
pricing=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for p in pricing[0:10]:
    prices=p.text
    price.append(prices)

In [87]:
laptop=pd.DataFrame({'Title':title,'Ratings':ratings,'Price':price})

In [88]:
laptop

                                               Title Ratings   Price
0  HP 15s, 11th Gen Intel Core i3 8GB RAM/1TB HDD...     3.4  38,490
1  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...     4.1  33,990
2  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...     4.1  38,400
3  ASUS Vivobook 15, Intel Core i3-1220P 12th Gen...     4.6  40,990
4  Dell Inspiron 3511 Laptop, Intel i3-1115G4, 8G...     3.6  40,990
5  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...     4.1  39,990
6  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...     4.1  37,490
7  HP 15s,12th Gen Intel Core i3-1215U, 15.6 inch...     3.7  43,990
8  ASUS Vivobook 14, Intel Core i3-1115G4 11th Ge...     4.1  34,990
9  ASUS VivoBook Ultra K14, Intel Core i3-1125G4 ...     4.4  38,990

# Answer 8

In [90]:
driver=webdriver.Chrome(r'C:\Users\arunk\Downloads\chromedriver_win32\chromedriver.exe')

In [91]:
driver.get('https://www.azquotes.com/')

In [92]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [93]:
quotes=[]
authors=[]
quotes_type=[]

In [94]:
s=0
e=10
for page in range(s,e):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for q in quote:
        quotes.append(q.text)
    nextbutton=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    nextbutton.click()
    time.sleep(10)

In [95]:
len(quotes)

1000

In [96]:
s=0
e=10
for page in range(s,e):
    author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for a in author:
        authors.append(a.text)
    nextbutton=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    nextbutton.click()
    time.sleep(10)
    
    
    

    
    
s=0
e=10
for page in range(s,e):
    qt=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for q in qt:
        quotes_type.append(q.text)
    nextbutton=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    nextbutton.click()
    time.sleep(10)

In [97]:
len(authors)

1000

In [98]:
len(quotes_type)

1000

In [99]:
quotes=pd.DataFrame({'Quotes':quotes,'Authors':authors,'Quotes_type':quotes_type})

quotes

,Quotes,Authors,Quotes_type
0,The essence of strategy is choosing what not t...,Amelia Earhart,Amelia Earhart
1,One cannot and must not try to erase the past ...,Ludwig von Mises,Ludwig von Mises
2,Patriotism means to stand by the country. It d...,Elizabeth Cady Stanton,Elizabeth Cady Stanton
3,Death is something inevitable. When a man has ...,Benjamin Spock,Benjamin Spock
4,You have to love a nation that celebrates its ...,Charles Kettering,Charles Kettering
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,Sydney J. Harris
996,America... just a nation of two hundred millio...,Hunter S. Thompson,Hunter S. Thompson
997,For every disciplined effort there is a multip...,Jim Rohn,Jim Rohn
998,"The spiritual journey is individual, highly pe...",Ram Dass,Ram Dass
999,The mind is not a vessel to be filled but a fi...,Plutarch,Plutarch

# Answer 9

In [ ]:
#not able to solve ques 9

# Answer 10

In [ ]:
# not able to solve ques 10